.page-footer {
  flex: 0 0 auto;
  background-color: $color-black-russian;
  display: flex;
  width: 100%;
}

.page-footer__wrapper {
  display: flex;
  width: 90%;
  max-width: 1160px;
  margin: 44px auto;

  @include vp-1199 {
    width: 89%;
    margin: 47px auto;
  }

  @include vp-767 {
    flex-direction: column;
    width: 92%;
    margin: 50px auto;
  }
}

.page-footer__logo {
  display: flex;
  height: fit-content;
  width: 10%;

  @include vp-1199 {
    width: 13%;
    padding-left: 2px;
    margin-right: 50px;
  }

  @include vp-767 {
    width: 45%;
    margin-right: 0;
  }
}

.page-footer__logo img {
  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.page-footer__nav {
  width: 50%;
  margin: 0 auto 0 230px;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;

  @include vp-1199 {
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 1.3fr 2fr;
  }

  @include vp-767 {
    width: 100%;
    margin-top: -20px;
    margin-bottom: 21px;
    grid-template-columns: 1fr 1.4fr;
  }
}

.page-footer__column {
  @include vp-767 {
    width: 40%;
  }
}

.page-footer__column--first {
  @include vp-767 {
    margin-top: 40px;
    margin-left: 3px;
  }
}

.page-footer__column--second {
  @include vp-767 {
    margin-left: 43px;
  }
}

.page-footer__column li {
  display: flex;
  margin: 0 15px;

  @include vp-1199 {
    margin: 0 10px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 12px;
  }
}

.page-footer__nav a {
  display: flex;
  color: $color-default-white;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding: 3px 5px 5px;
  height: fit-content;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
    padding-left: 0;
    width: 90%;
  }
}

.page-footer__column ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    flex-direction: column;
  }
}

.page-footer__social {
  width: 10%;
  padding-left: 5px;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include vp-1199 {
    width: 17%;
  }

  @include vp-767 {
    width: 49%;
    margin: 0;
    align-items: center;
  }
}

.page-footer__social li {
  display: flex;
}

.page-footer__social a {
  display: flex;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }
}

.page-footer__social img {
  @include vp-1199 {
    margin: 0 5px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.page-footer__social-item--vk img {
  padding-bottom: 10px;

  @include vp-1199 {
    padding-left: 0;
    margin-left: 0;
  }

  @include vp-767 {
    width: 32px;
    height: 17px;
    margin: 0;
    padding: 0;
  }
}

.page-footer__social-item--ig {
  @include vp-767 {
    margin: 0 35px;
  }
}

.page-footer__social-item--ig img {
  @include vp-767 {
    width: 27px;
    height: 27px;
  }
}

.page-footer__social-item--fb img {
  @include vp-767 {
    width: 14px;
    height: 27px;
    margin: 0;
  }
}
